# DB
POSTGRES_HOST=kanban-db
POSTGRES_PORT=5432
POSTGRES_HOST_PORT=5433
POSTGRES_USER=kanban
POSTGRES_PASSWORD=kanban
POSTGRES_DB=kanban
DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}

# API de dados
OPERA_URL=http://localhost:2111
OPERA_LINK=http://operafr-app:2111
OPERA_API_KEY=
OPERA_FOLDER_ID=1

JWT_SECRET=19139208

RABBITMQ_HOST=kanban-rabbitmq
RABBITMQ_HOST_PORT=5673
RABBITMQ_PORT=5672
RABBITMQ_PANEL_PORT=15673
RABBITMQ_USER=kanban
RABBITMQ_PASSWORD=kanban
RABBITMQ_URL=amqp://${RABBITMQ_USER}:${RABBITMQ_PASSWORD}@${RABBITMQ_HOST}:${RABBITMQ_PORT}

EMAIL_QUEUE_NAME=email_queue

AUTH_GOOGLE_ID=
AUTH_GOOGLE_SECRET=
AUTH_SECRET=aslkjdfsadfjlçkaçsf

STAGE=development

PRODUCTION_PORT=3001
DEVELOPMENT_PORT=3000
