# DB
POSTGRES_HOST=postgresql
POSTGRES_PORT=5433
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=kanban

# API de dados
OPERA_PORT=2111
OPERA_LINK=http://operafr-app:${OPERA_PORT}
OPERA_API_KEY=
OPERA_FOLDER_ID=1

JWT_SECRET=19139208

RABBITMQ_HOST=kanban-rabbitmq
RABBITMQ_HOST_PORT=5673
RABBITMQ_PORT=5672
RABBITMQ_PANEL_PORT=15673
RABBITMQ_USER=kanban
RABBITMQ_PASSWORD=kanban
RABBITMQ_URL=amqp://${RABBITMQ_USER}:${RABBITMQ_PASSWORD}@${RABBITMQ_HOST}:${RABBITMQ_PORT}

EMAIL_QUEUE_NAME=email_queue
